@import url('/content/styles/layout.css');
@import url('/content/widgets/jqWidgets/styles/jqx.base.css');
@import url('/content/widgets/jqWidgets/styles/jqx.ui-smoothness.css');
@import url('/content/styles/layoutgrid.css');

.gray {
    background-color: #efefef;
}

.yellow {
    background-color: #ffffcc;
}

.bg-area {
    background-color:#F3E8CF;        
}

.focus {
    background-color: #ffffcc!important;
}

.al-l {
    text-align:left;    
}

.al-c {
    text-align:center;    
}

.al-r {
    text-align:right;    
}

.trunc {
    white-space: nowrap;
    overflow: hidden;
    /*text-overflow: ellipsis;*/
}

.clear {
    clear:both;    
}

.trunc:after {
    content:    "[more]";
    font-size:  .5em;
    font-style: italic;    
}

.right-head-message.error {
    background-color: #FFCCCC;
    border: 2px solid red;
    color:black;
    display:block;
}

.right-head-message.warn {
    background-color: #FFFF99;
    border: 2px solid #CCCC00;
    color: black;
    display:block;
}

.right-head-message.info {
    background-color: #CCFFCC;
    border: 2px solid Green;
    color: black;
    display: block;
    top:0px;
}


/********************************************************************************
 *  FORM-ELEMENTS
 ********************************************************************************/
.input, 
.input-container {
    display: block;
    clear: both;
    height: 30px;
    /*line-height: 30px;*/
    border: 0px solid silver;
    min-height: 30px;
    height: auto;
}

.label, 
.input-label {
    width: 98px;
    line-height: 20px;
    height: 20px;
    border: 0px solid transparent;
    display: block;
    float: left;
    padding-right: 4px;
    font-family: Verdana;
    font-size: 1.0em;
}

.text, 
.text-number,
.input-text, 
.input-number {
    border: 1px solid silver;
    line-height: 18px;
    height: 18px;
    width: 300px;
    float: left;
    /*margin-right: 4px;*/
    background-color: #F6F5EA;
    font-family: Verdana;
    font-size: 1.0em;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.text-number, 
.input-number, {
    width:50px;
    text-align:right
}


.text-area, 
.input-area {
    border: 1px solid silver;
    line-height: 18px;
    height: 100px;
    width: 300px;
    float: left;
    /*margin-right: 4px;*/
    background-color: #F6F5EA;
    font-family: Verdana;
    font-size: 1.0em;
    margin-bottom: 10px;
    resize: none;
    -moz-border-radius: 4px;
    border-radius: 4px;
}



.btn {
    border:1px solid silver;
    padding:3px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.btn:active {
    background-color:#F6F5EA;    
}
.btn:focus {
    /*background-color: #E8FFFF;*/
    background-color: #F6F5EA;
    outline:none;
}
.btn:focus::-moz-focus-inner {
    border:0;
}

.pick {
    min-width:20px;    
}

.small {
    min-width: 60px;
}

.medium {
    min-width: 100px;
}

.large {
    min-width: 140px;
}

.default {
    font-weight:bold;
}


.form {
    margin-bottom: 20px;
}

.form-controls {
    clear       : both;
    border-top  : 1px dashed silver;
    margin-top  : 10px;
    padding-top : 5px;
}

.check-box {
    /*margin-right: 4px;*/
    background-color: #F6F5EA;
    border: 1px solid silver;
    border-radius: 4px;    
    float: left;
    font-family: Verdana;
    font-size: 1.0em;
    height: 22px;
    line-height: 22px;
    -moz-border-radius: 4px;
    padding-right:2px;
    text-align:center;
    width: 48px;
}


.input-select {
    border: 1px solid silver;
    line-height: 22px;
    height: 22px;
    width: 300px;
    float: left;
    /*margin-right: 4px;*/
    background-color: #F6F5EA;
    font-family: Verdana;
    font-size: 1.0em;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 1px 0 1px 0;
}







.text:focus, 
.text-area:focus, 
.text-number:focus,
.input-text:focus,
.input-number:focus,
.input-area:focus,
.input-select:focus {
    background-color: #ffffcc;
}



.w-1{width:048px;}
.w-2{width:148px;}
.w-3{width:248px;}
.w-4{width:348px;}
.w-5{width:448px;}
.w-6{width:548px;}
.w-7{width:648px;}
.w-8{width:798px;}
.w-9{width:848px;}

.h-1{height:22px;}
.h-2{height:44px;}
.h-3{height:66px;}
.h-4{height:88px;}
.h-5{height:110px;}
.h-6{height:132px;}
.h-7{height:154px;}
.h-8{height:176px;}
.h-9{height:198px;}



.nicEdit-selectTxt {
    line-height:14px;
}
.nicEdit-main {
    background-color: #F6F5EA;
}
.nicEdit-main:focus {
    background-color: #ffffcc;
}
