/********************************************************************************
 *  DEFAULT TABLE/GRID LAYOUTS
 ********************************************************************************/
.tb-container {
    background-color: #F3E8CF;
    border-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: inline-block;
    -moz-border-radius: 8px;
    -moz-border-top-left-radius: 8px;
    -moz-border-top-right-radius: 8px;
    padding: 0 10px 0 10px;
}
.tb-title {
    border: 0px solid black;
    color: #70899B;
    float: left;
    font-weight: bold;
    line-height: 27px;
}
.tb-pager {
    border: 0px solid red;
    float: right;
}
.tb-header {
    border-bottom: 2px dotted #EBD894;
    border-top: 2px dotted #EBD894;
    clear: both;
    display: block;
    height: 22px;
    line-height: 22px;
}
.tb-header-item {
    color: #913D4A;
    font-weight: bold;
    text-align: left;
}
.tb-body {
    border-bottom: 0px dotted #EBD894;
    clear: both;
    display: block;
    height: auto;
}
.tb-row-item {
    background-color:#F5F3F1;
    border-bottom:1px dotted silver;
}
.tb-toolbar {
    border: 1px solid #F3E8CF;
    display: block;
    padding: 3px 0 3px 0;
    text-align: right;
    clear: both;
}