@model SCv20_Tools.Web.Controllers.DummyModel
@{ ViewBag.Title = "Campaigns"; }

@using (Html.BeginForm()) {
@*  
    @Html.SpyCraft().AlertBox("Apenas outro Teste")
    @Html.SpyCraft().AlertBoxFor(m => m.Mensagem)
    @Html.TextBoxFor(m => m.Mensagem)
    <br />
    <br />
    <br />
    <br />
*@
    
    
    <label for="name">Nome da Seção</label>
    <input type="text" id="name" name="MyName" style="font-size:14pt; border:0; padding:0; border-radius:5px; background-color:#ddd;height:1.5em; width:100%" /> 
    <br />
    <br />
    <input type="text" name="MyName" style="width:250px; font-size:14pt; border:0; border-radius:5px; background-color:#ddd" /><br />
    <br />
    
    <input type="text" name="MyName" style="width:250px; font-size:14pt; border:0; border-radius:5px; background-color:#ddd" /><br />
    <br />
    <input type="text" name="MyName" style="width:250px; font-size:14pt; border:0; border-radius:5px; background-color:#ddd" /><br />
    <br />
    <input type="text" name="MyName" style="width:250px; font-size:14pt; border:0; border-radius:5px; background-color:#ddd" /><br />
    <br />
    <input type="text" name="MyName" style="width:250px; font-size:14pt; border:0; border-radius:5px; background-color:#ddd" /><br />

}