@model SCv20_Tools.Web.Models.MissionListingModel
@{ ViewBag.Title = "Mission Listing"; }

@using (Html.BeginForm()) {
    <div id="missionList">
        @Html.DisplayFor(m => m.Missions)
    </div>
}