<a class="dropdown-toggle head-button-link config" data-toggle="dropdown" href="#"></a>
<div class="dropdown-menu pull-right settings-box">
    <div class="triangle-2"></div>
    
    <a href="javascript:chooseStyle('none', 30)"         class="settings-link"></a>
    <a href="javascript:chooseStyle('blue-theme', 30)"   class="settings-link blue"></a>
    <a href="javascript:chooseStyle('green-theme', 30)"  class="settings-link green"></a>
    <a href="javascript:chooseStyle('purple-theme', 30)" class="settings-link purple"></a>
    <a href="javascript:chooseStyle('orange-theme', 30)" class="settings-link yellow"></a>
    <a href="javascript:chooseStyle('red-theme', 30)"    class="settings-link red"></a>
    
    <div class="clearfix"></div>
</div>
