<!--BEGIN FOOTER-->
<div class="footer">
    <div class="left">Copyright &copy; 2013</div>
    <div class="right"><a href="#">MeHZ Sistemas</a></div>
    <div class="clearfix"></div>
</div>
<!--BEGIN FOOTER END-->