<ul class="additional-menu">
    <li>
        <a href="/content/template/dashboard.html">
        <i class="icon-home"></i>   Dashboard</a>
    </li>
    <li class="active">
        <a href="/content/template/tables.html">
        <i class="icon-tasks"></i>  Forms</a>
    </li>
    <li>
        <a href="#">
        <i class="icon-star"></i>   Item 1</a>
    </li>
    <li>
        <a href="#">
        <i class="icon-star"></i>   Item 2</a>
    </li>
</ul>