<ul class="main-menu">
    <li>
        <a href="/content/template/dashboard.html">
        <i class="general"></i>     General     </a>
    </li>
    <li>
        <a href="/content/template/ui.html">        
        <i class="components"></i>  UI          </a>
    </li>
    <li class="active">
        <a href="/content/template/forms.html">     
        <i class="forms"></i>       Forms       </a>
    </li>
    <li>
        <a href="/content/template/charts.html">    
        <i class="statistics"></i>  Statistics  </a>
    </li>
    <li>
        <a href="/content/template/typo.html">      
        <i class="pages"></i>       Pages       </a>
    </li>
    <li>
        <a href="/content/template/tables.html">    
        <i class="tables"></i>      Tables      </a>
    </li>
    <li>
        <a href="/content/template/contacts.html">  
        <i class="bonus"></i>       Bonus       </a>
    </li>
</ul>