<ul class="main-menu">
    <li>
        <a href="/content/template/dashboard.html">
            @*<i class="general"></i>General*@
            <i class="icon-2x icon-film"></i>
            <span>Campaigns</span>
        </a>
    </li>
    <li>
        <a href="/content/template/ui.html">        
            @*<i class="components"></i>*@
            <i class="icon-3x icon-film icon-mobile-phone"></i>
            <span>Missions</span>
        </a>
    </li>
    <li class="active">
        <a href="/content/template/forms.html">
            <i class="icon-2x icon-male"></i>
            <span>Gallery</span>
        </a>
    </li>
    <li>
        <a href="/content/template/charts.html">    
            <i class="statistics"></i>
            <span>Data Files</span>
        </a>
    </li>

    <!-- MUST REMOVE -->
    <li>
        <a href="/content/template/dashboard.html">
        <i class="general"></i>     General     </a>
    </li>
    <li>
        <a href="/content/template/ui.html">        
        <i class="components"></i>  UI          </a>
    </li>
    <li>
        <a href="/content/template/forms.html">     
        <i class="forms"></i>       Forms       </a>
    </li>
    <li>
        <a href="/content/template/charts.html">    
        <i class="statistics"></i>  Statistics  </a>
    </li>
    <li>
        <a href="/content/template/typo.html">      
        <i class="pages"></i>       Pages       </a>
    </li>
    <li>
        <a href="/content/template/tables.html">    
        <i class="tables"></i>      Tables      </a>
    </li>
    <li>
        <a href="/content/template/contacts.html">  
        <i class="bonus"></i>       Bonus       </a>
    </li>
</ul>