@*
<!--Media Files-->
<div class="media-files">
    <div class="title">Media Files</div>
    <p>This is Photoshop's version  of Lorem Ipsum.</p>

    <div class="media-files-info-box">
        <i class="icon-picture"></i>Photo <strong>35%</strong>
        <div class="process-progress">
            <div class="advance red" style="width: 35%"></div>
        </div>
    </div>
    <div class="media-files-info-box">
        <i class="icon-facetime-video"></i>Video <strong>43%</strong>
        <div class="process-progress">
            <div class="advance blue" style="width: 43%"></div>
        </div>
    </div>
    <div class="media-files-info-box">
        <i class="icon-music"></i>Audio <strong>23%</strong>
        <div class="process-progress">
            <div class="advance green" style="width: 23%"></div>
        </div>
    </div>
</div>
<!--Media Files END-->
*@
                