<a class="dropdown-toggle head-button-link" data-toggle="dropdown" href="#"><span class="notice-new">3</span></a>
<div class="dropdown-menu pull-right messages-list">
    <div class="triangle"></div>

    <div class="notice-title">You Have 3 Messages</div>

    <!--message #1-->
    <div class="notice-message">
        <a href="#" class="box">
            <div class="avatar">
                <img src="/content/template/images/avatar-2.png" alt="">
            </div>
            <div class="info">
                <div class="author">Csaba Gyulai</div>
                <div class="date">Jan 9, 2013</div>
                <div class="clearfix"></div>
                <div class="text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit.</div>
            </div>
            <div class="clearfix"></div>
        </a>
    </div>

    <!--message #2-->
    <div class="notice-message">
        <a href="#" class="box">
            <div class="avatar">
                <img src="/content/template/images/avatar-3.png" alt="">
            </div>
            <div class="info">
                <div class="author">Junkyard Sam</div>
                <div class="date">Jan 15, 2013</div>
                <div class="clearfix">
                </div>
                <div class="text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit.</div>
            </div>
            <div class="clearfix">
            </div>
        </a>
    </div>

    <!--message #3-->
    <div class="notice-message">
        <a href="#" class="box">
            <div class="avatar">
                <img src="/content/template/images/avatar-4.png" alt="">
            </div>
            <div class="info">
                <div class="author">Lienke Raben</div>
                <div class="date">Nov 4, 2012</div>
                <div class="clearfix"></div>
                <div class="text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit.</div>
            </div>
            <div class="clearfix"></div>
        </a>
    </div>
    <a href="#" class="notice-more">View All Messages</a>
</div>
