<a class="dropdown-toggle head-button-link notification" data-toggle="dropdown" href="#"><span class="notice-new">2</span></a>
<div class="dropdown-menu pull-right messages-list">
    <div class="triangle">
    </div>
    <div class="notice-title">You Have 2 Notifications</div>
    
    <!--message #1-->
    <div class="notice-message">
        <a href="#" class="box">
            <div class="avatar">
                <img src="/content/template/images/avatar-5.png" alt="">
            </div>
            <div class="info">
                <div class="author">Jonas Anderson</div>
                <div class="date">3 hours ago</div>
                <div class="clearfix">
                </div>
                <div class="text">Followed <span class="follow-link">Dennis Salvatier</span></div>
            </div>
            <div class="clearfix"></div>
        </a>
    </div>

    <!--message #2-->
    <div class="notice-message">
        <a href="#" class="box">
            <div class="avatar">
                <img src="/content/template/images/avatar-6.png" alt="">
            </div>
            <div class="info">
                <div class="author">Ilias Sounas</div>
                <div class="date">19 hours ago</div>
                <div class="clearfix"></div>
                <div class="text">Commented on <span class="comment-link">Angry Cloud</span></div>
            </div>
            <div class="clearfix"></div>
        </a>
    </div>
    <!--message #3-->
    <div class="notice-message">
        <a href="#" class="box">
            <div class="avatar">
                <img src="/content/template/images/avatar-7.png" alt="">
            </div>
            <div class="info">
                <div class="author">Erin Hunting</div>
                <div class="date">19 hours ago</div>
                <div class="clearfix">
                </div>
                <div class="text">Liked <span class="like-link">Overnight work</span></div>
            </div>
            <div class="clearfix"></div>
        </a>
    </div>
    <a href="#" class="notice-more">View All Notification</a>
</div>
