<a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="double-spacer"></span>
    <div class="profile-avatar">
        <img src="/content/template/images/avatar.png" alt="">
    </div>

    <div class="profile-username"><span>Welcome,</span> Dalton Andrade!</div>
    
    <div class="profile-caret">
        <span class="caret"></span>
    </div>
    
    <span class="double-spacer"></span>
</a>
<div class="dropdown-menu pull-right profile-box">
    <div class="triangle-3"></div>
    <ul class="profile-navigation">
        <li><a href="#"><i class="icon-user"></i>         My Profile </a></li>
        <li><a href="#"><i class="icon-cog"></i>          Settings   </a></li>
        <li><a href="#"><i class="icon-info-sign"></i>    Help       </a></li>
        <li><a href="index.html"><i class="icon-off"></i> Logout     </a></li>
    </ul>
</div>

<div class="clearfix"></div>