@{ ViewBag.Title = "Missions"; }

<h1>Missions</h1>
<div class="form">
    <ul class="ul-1">
        <li><a class="ico" href="#">Create new Mission</a></li>
        <li><a href="#">Edit Existing Mission</a></li>
        <li><a href="#">Destroy Mission</a></li>
    </ul>
</div>

<style type="text/css">

</style>
