/*
@import url(layout.css);
@import url(menu.css);
*/
/*background-color: #ddd;*/

@import url(layout_grid.css);

h1 {
    margin: 10px 0 10px 0;
    font-size: 1.6em;
}

h2 {
    margin: 0 0 10px 0;
    font-size: 1.6em;
}


p {
    margin-top: 0;
    margin-bottom: 1.5em;
}

table {
    border-collapse: collapse;
}


input[type="text"], .text {
    background-color: #eeeeee;
    border: 0;
    border-radius: 3px;
    box-shadow: 0px 0px 2px rgba(128, 128, 128, 0.75) inset;
    display: block;
    font-family: 'Trebuchet MS';
    height: 2em;
    line-height: 2em;
    margin-left: 0em;
    padding: 0;
    padding-left: 1%;
    width: 99%;
}

    input[type="text"]:focus {
        background-color: #fffeee;
    }

textarea, .textarea {
    background-color: #eeeeee;
    border: 0;
    border-radius: 3px;
    box-shadow: 0px 0px 2px rgba(128, 128, 128, 0.75) inset;
    display: block;
    font-family: 'Trebuchet MS';
    font-size: 1em;   
    height: 2.5em;
    margin: 0;
    padding: 0;
    padding-left: .5%;
    padding-right: .5%;
    resize: none;
    text-align: justify;
    width: 99.0%;
}

    textarea:focus {
        background-color: #fffeee;
    }

.textarea {
    overflow-y: auto;
}

label, .label {
    background-color: #eeeeee;
    border: 0;
    cursor: pointer;
    display: block;
    font-weight: normal;
    height: 2em;
    line-height: 2em;
    padding-left: 2%;
    width: 98%;
}

.label {
    line-height: 1.5em;
}


select {
    background-color: #eeeeee;
    border: 0;
    border-radius: 3px;
    box-shadow: 0px 0px 2px rgba(128, 128, 128, 0.75) inset;
    font-family: 'Trebuchet MS';
    height: 2em;
    margin-left: 0em;
    padding: 0;
    padding: 4px 4px 3px 1%;
    width: 99%;
}

    select:focus {
        background-color: #fffeee;
    }


.al-l {
    text-align: left;
}

.al-c {
    text-align: center;
}

.al-r {
    text-align: right;
}

.al-j {
    text-align: justify;
}

button {
    border: 1px solid silver;
    padding: 3px;
    border-radius: 5px;
    font-family: 'Trebuchet MS';
   
}

    button:active {
        background-color: #F6F5EA;
    }

    button:focus {
        /*background-color: #E8FFFF;*/
        background-color: #F6F5EA;
        background-color: #fffccc;
        outline: none;
    }

    button:hover {
        /*background-color: #E8FFFF;*/
        background-color: #F6F5EA;
        background-color: #fffeee;
        outline: none;
    }

div.form .group button {
    height: 2em;
    padding: 1px 3px 4px 3px;
}
